   <!-- Logo Agencia y 3 txt -->
   <nav class="navbar bg-black navbar-light fixed-top nav2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logoAktiv.png" alt="Logo" class="logo">
      </a>
      <div class="mr-auto d-flex"> <!-- Alinea los elementos a la izquierda y los convierte en un contenedor flexible -->
        <a class="nav-link active2  mr-3" aria-current="page" href="http://localhost:4200/inicio" style="margin-right: 30px;">INICIO</a>
        <a class="nav-link text-white mr-3" href="http://localhost:4200/artists" style="margin-right: 30px;">ARTISTAS</a>
        <a class="nav-link text-white" href="http://localhost:4200/contact">CONTACTO</a>
      </div>
    </div>
  </nav>



















  <!-- Footer -->
<div class="b-example-divider"></div>

<footer class="bg-black text-white py-3">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
    <p class="text-center">&copy; 2024 AKTIV AGENCY, Inc</p>
  </div>
</footer>

  
