<!-- Logo Agencia y 3 txt -->
<nav class="navbar bg-black navbar-light fixed-top nav2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logoAktiv.png" alt="Logo" class="logo">
    </a>
    <div class="mr-auto d-flex"> <!-- Alinea los elementos a la izquierda y los convierte en un contenedor flexible -->
      <a class="nav-link active text-white mr-3" aria-current="page" href="http://localhost:4200/inicio" style="margin-right: 30px;">INICIO</a>
      <a class="nav-link text-white mr-3" href="http://localhost:4200/artists" style="margin-right: 30px;">ARTISTAS</a>
      <a class="nav-link text-white" href="http://localhost:4200/contact">CONTACTO</a>
    </div>
  </div>
</nav>

<!-- Video y Texto -->
<div style="position: relative;">
  <video autoplay muted loop>
    <source src="assets/img/djsColorArtistas.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
  </video>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 4rem;">
    <!--<h2>AGENCIA DE DJs EN ESPAÑA</h2>-->
  </div>
</div>

  <!-- 2Foto DANIGO -->
  <div class="content container text-center mt-5">
    <h2>ARTISTAS</h2>
    <img src="assets/img/2danigo.jpeg" alt="imagen" class="img-fluid my-4  scroll-effect" #scrollEffect>
    <p class="lead text-justify mx-5" style="line-height: 1.8;">Con una versatilidad impresionante,
       DANIGO domina una amplia variedad
       de géneros, garantizando que cada set sea único y vibrante. Ya sea que
        estés buscando ritmos urbanos, beats electrónicos o sonidos afros,
         DANIGO tiene la mezcla perfecta para cada ocasión.

      No te pierdas la oportunidad de vivir una experiencia 
      musical extraordinaria con Danigo. Su energía, talento y 
      capacidad para leer la pista de baile te asegurará una noche
       inolvidable llena de música y baile.
    </p>

          <!-- Agregar los botones aquí -->
          <div>
            <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
          </div>
  </div>

    <!-- 2Foto DANY MARIN -->
    <div class="content container text-center mt-5">
      <img src="assets/img/2dany.jpeg" alt="dany marin" class="img-fluid my-4 scroll-effect" #scrollEffect>
      <p class="lead text-justify mx-5" style="line-height: 1.8;">Desde Medellín - Colombia,
         Dany Marín emerge como una fuerza potente en la escena musical.
          A los 13 años descubrió su pasión por la música y desde entonces
           ha estado cautivando audiencias con su energía y creatividad
            inigualables. Además de ser un DJ excepcional, Dany está
             incursionando como productor, creando Mashups y Remixes
              que destacan su ambición y visión artística. Su pasión,
               energía y constante innovación aseguran una experiencia
                vibrante y personalizada para cada evento.
      </p>
  
            <!-- Agregar los botones aquí -->
            <div>
              <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
            </div>
    </div>

    <!-- 2Foto MONRA -->
        <div class="content container text-center mt-5">
          <img src="assets/img/2monra.jpeg" alt="monra" class="img-fluid my-4 scroll-effect" #scrollEffect>
          <p class="lead text-justify mx-5" style="line-height: 1.8;">
            Este talentoso DJ, está incendiando el escenario nocturno de Valencia
             con su energía y estilo inconfundibles. Desde su explosivo debut,
              Monra ha conquistado corazones y establecido su nombre como
               un referente en la escena musical.
                  A finales de 2022, firmó un contrato de alto perfil con
                   AktivAgency, desatando un frenesí de expectativas y emoción
                    en la industria. Su fusión única de géneros, desde Urbano
                     hasta Tech House, lo convierte en una fuerza imparable
                      que está dejando una huella indeleble en cada lugar que pisa
          </p>
      
                <!-- Agregar los botones aquí -->
                <div>
                  <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
                </div>
        </div>

    <!-- 2Foto ISMA -->
          <div class="content container text-center mt-5">
            <img src="assets/img/2isma.jpeg" alt="isma" class="img-fluid my-4 scroll-effect" #scrollEffect>
            <p class="lead text-justify mx-5" style="line-height: 1.8;">ISMAGARRIDO, el talentoso DJ valenciano, ha dejado una marca imborrable en la escena musical con su habilidad para fusionar house, reguetón y pop en sets vibrantes y memorables. Su versatilidad lo convierte en el favorito de todos los públicos, asegurando una pista de baile siempre llena de energía.

              Conocido por crear una atmósfera única en cada actuación en vivo, ISMAGARRIDO combina pistas cautivadoras con una energía contagiosa que mantiene a la multitud en movimiento constante.
              
              Déjate llevar por los ritmos de REGGAETON, AFRO HOUSE, HOUSE y POP de ISMAGARRIDO y prepárate para una experiencia musical inolvidable.
            </p>
        
                  <!-- Agregar los botones aquí -->
                  <div>
                    <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
                  </div>
          </div>

     <!-- 2Foto JEEY B -->
          <div class="content container text-center mt-5">
            <img src="assets/img/2jeeyb.jpeg" alt="jeeyb" class="img-fluid my-4 scroll-effect" #scrollEffect>
            <p class="lead text-justify mx-5" style="line-height: 1.8;">
              Con su destreza en los estilos urbanos, house y tech house, JeeyB se ha destacado como una figura prominente en la escena musical. Su habilidad excepcional para fusionar estos géneros le permite crear sets dinámicos y llenos de energía que resuenan profundamente con su audiencia.

              Lo que distingue a JeeyB es su versatilidad como DJ. No se limita a un solo género, sino que es capaz de adaptarse a cualquier tipo de público, garantizando siempre una experiencia única y memorable en la pista de baile. Desde eventos comerciales hasta fiestas urbanas, JeeyB sabe cómo mantener la energía en alto y hacer que la gente se mueva.
            </p>
        
                  <!-- Agregar los botones aquí -->
                  <div>
                    <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
                  </div>
          </div>

      <!-- 2Foto RUBEN DIEGUEZ -->
                    <div class="content container text-center mt-5">
                      <img src="assets/img/2ruben.jpeg" alt="ruben dieguez" class="img-fluid my-4 scroll-effect" #scrollEffect>
                      <p class="lead text-justify mx-5" style="line-height: 1.8;">
                        Descubre el poderoso sonido de Ruben Dieguez, un DJ, productor musical y locutor de radio en ascenso. Desde sus inicios a una edad temprana, Ruben ha estado haciendo vibrar las pistas de baile de Valencia y más allá con su estilo único y enérgico.

                                  Con una mezcla explosiva de URBAN LATIN HITS, REGGAETON, URBANTECH, HIP HOP, DANCEHALL y RAP, Ruben Dieguez te lleva en un viaje musical emocionante que no querrás perderte.
                      </p>
                  
                            <!-- Agregar los botones aquí -->
                            <div>
                              <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
                            </div>
                    </div>
              
     <!-- 2Foto PARIS -->
         <div class="content container text-center mt-5">
            <img src="assets/img/2paris.png" alt="paris" class="img-fluid my-4 scroll-effect" #scrollEffect>
                <p class="lead text-justify mx-5" style="line-height: 1.8;">Ha conquistado continentes y cautivado culturas con su irresistible ritmo. Desde las vibrantes calles del Caribe hasta los bulliciosos clubes europeos, Paris DJ ha dominado el arte de mantener la fiesta en movimiento.

                  Con un impresionante currículum que incluye abrir conciertos para artistas como Naza, Maitre Gims y Marwa Loud en clubes de Francia, Paris DJ trae consigo una experiencia única y emocionante. Desde su llegada a Valencia en 2019, ha dejado su huella en prestigiosos clubes como Indiana, Sala Madison, Dady'O, Upper Club y Mya.
                 </p>
                  
                   <!-- Agregar los botones aquí -->
                    <div>
                     <button onclick="window.open('https://www.instagram.com/aktiv_agency_/', '_blank')" class="btn btn-primary mx-2 shadow__btn"> CONTACTAR </button>
                    </div>
           </div>



<!-- Contenedor de la imagen con texto y logo -->
<div class="container-fluid text-center">
  <!-- Imagen de fondo con texto encima -->
  <div class="image-with-text" style="background-image: url('assets/img/negro.jpg'); background-size: cover;">
    <!-- Texto sobre la imagen -->
    <p class="text-overlay">
      Mussa <br>
      653 36 34 89<br>
      España - Valencia <br>
      aktivagency@gmail.com
    </p>
  </div>
</div>


<!-- Footer -->
<div class="b-example-divider"></div>

<footer class="bg-black text-white py-3">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
    <p class="text-center">&copy; 2024 AKTIV AGENCY, Inc</p>
  </div>
</footer>