.nav2 {
    font-family: "Inconsolata" !important ;
    font-weight: 200;
}

h2{
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*
.h2 {
  font-family: 'StretchPro', Arial, Helvetica, sans-serif;
  font-weight: 200;
}
*/

@font-face {
    font-family: 'StretchPro';
    src: url('src\assets\fonts\StretchPro.ttf');
}

body {
    background-image: url('src\assets\img\negroCelo.jpg');
    background-color: black;
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    /* Ajusta otros estilos según tus preferencias */
  }
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .active2{
  color: aliceblue;
  }
  /* logo Aktiv del Nav */
  .logo {
    max-width: 20%; /* El logo nunca será más grande que su contenedor */
    height: auto; /* Mantiene la proporción */
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño del video para cubrir completamente el contenedor */
    
  }
  
  .btn-silver {
    color: #ffffff9d; /* Color del texto */
    background-color: #c0c0c0; /* Color de fondo plateado */
    border-color: #c0c0c0; /* Color del borde */
    transition: background-color 0.3s ease; /* Efecto de transición al cambiar el color de fondo */
  }
  
  .btn-silver:hover {
    background-color: #a6a6a6; /* Cambiar el color de fondo al pasar el mouse */
  }
/* Opcionalmente, especifica el color blanco para elementos específicos */
h1, h2, h3, h4, h5, h6, p, a, span, div, li {
  color: white;
}
/* Efectos nav */
.navbar {
  background-color: black;
}

.nav-link {
  color: white;
  font-size: 1rem;
  margin-right: 30px;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1); /* Zoom effect */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect */
  color: white; /* Ensure the text color remains white */
}

/* Ensure the active link has similar hover effects */
.nav-link.active {
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.nav-link.active:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  color: white;
}

.mr-auto {
  display: flex;
  align-items: center; 
}


